/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Mobile First Stylesheet */
html {
    font-size: 62.5%
}
* {
    font-family: monospace;
    color: black;
    box-sizing: border-box;
}

.container {
    width: 500px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: #dee1e5;
    font-family: 'Kumbh Sans', sans-serif;
}
header {
    width: 100%;
    text-align: center;
}
header h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: 2px;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
 section.number-display {
     width: 75%;
     margin: 20px auto;
     height: 75px;
     border: 2px solid blue;
     border-radius: 5px;
     background-color: #f0f3f4;
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     font-size: 3rem;
    font-family: 'Graduate', cursive;
   padding-right: 10px;
   padding-bottom: 10px;
    
 }
 section.number-keypad {
     width: 75%;
     margin: 0 auto;
     margin-bottom: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-content: space-around;
 }
.number-keypad button {
    width: 30%;
    height: 40px;
    margin-top: 5px;
    margin-right: 2px;
    padding: 16px 8px;
    font-size: 1.8rem;
    font-family: 'Graduate', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 5px;
    touch-action: manipulation;
}

.operation-keypad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     align-content: space-around;
}
.operation-keypad button {
    width: 35%;
    padding: 16px 0px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 1.6rem;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4284f3;
    color: white;
    outline: none;
    border-radius: 5px;
    touch-action: manipulation;
}
footer{
    padding: 15px;
    font-size: 1.4rem;
}
footer p {
    font-size: 1.6rem;
    letter-spacing: 2px;
}
